[2019-08-13  23:40:18] INFO playlist-builtin/playlist_read Currently playing "/musik/ogg/stueck1.ogg"
[2019-08-13  23:44:55] INFO playlist-builtin/playlist_read Currently playing "/musik/ogg/stueck2.ogg"
[2019-08-13  23:47:34] INFO playlist-builtin/playlist_read Currently playing "/musik/ogg/stueck3.ogg"
